@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Newsreader", serif;
  color: #1a2327;
}

/* STYLING FOR THE NAVIGATION BAR START */
header {
  display: flex;
  justify-content: center;
}
nav {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 81%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  border-bottom: 1px solid #ff5757;
}

figure a img {
  width: 150px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 3rem;
}

nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fa4141;
  text-transform: uppercase;
  font-weight: 500;
  height: 50%;
  transition: all 0.3s ease 0.1s;
}

nav ul li a:hover {
  margin-bottom: 10px;
}

.primary-btn {
  width: 6rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #fa4141;
  font-size: 1.1rem;
  transition: all 0.3s ease 0.1s;
}

.primary-btn:hover {
  margin-bottom: 10px;
}

/* STYLING FOR THE NAVIGATION BAR END */

/* STYLING FOR THE HERO SECTION START */
.hero {
  margin-top: 10%;
  margin-bottom: 6%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
}

.left-hero {
  padding: 90px 0 0 130px;
}

.left-hero h1 {
  font-size: 70px;
  font-family: "Bitter", serif;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.dot {
  font-size: 70px;
  color: #fa4141;
}

.left-hero p {
  font-family: "Bitter", serif;
  font-size: 24px;
  line-height: 2.6rem;
}

/* STYLING FOR THE HERO SECTION END */

/* STYLING FOR THE ABOUT EXTRA (LET'S INTERACT) START */
.about-extra {
  width: 100%;
  font-size: 18px;
  margin-bottom: 10%;
}

.about-extra h2,
.about-extra p,
.about-extra caption {
  width: 50%;
  padding-left: 130px;
}

.about-extra h2 {
  font-size: 50px;
  margin-bottom: 2rem;
}

.about-extra h2::after {
  content: " ";
  display: block;
  background-color: #fa4141;
  width: 20%;
  height: 3px;
  margin-top: 20px;
}

.about-extra p {
  font-family: "Elms Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 3rem;
}

.about-extra button {
  display: flex;
  width: 15%;
  margin-left: 130px;
  padding-left: 0;
  border: none;
  height: 3rem;
}

.about-extra a {
  width: 100%;
  height: 3rem;
  color: #fa4141;
  font-size: 1.1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fa4141;
  border-radius: 20px;
}

.about-extra a:hover {
  background-color: #ffd4ce;
}

/* STYLING FOR THE ABOUT EXTRA (LET'S INTERACT) END */

/* STYLING FOR THE FOOTER START */

footer {
  width: 100%;
  height: 5rem;
}

footer::before {
  display: block;
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #fa4141;
  margin-bottom: 20px;
}

footer em {
  display: block;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  font-size: 1.1rem;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: 10px auto;
}

footer ul a {
  text-decoration: none;
  color: #1a2327;
  font-weight: 600;
}

footer i {
  padding-right: 15px;
}

footer ul a:hover {
  color: #fa4141;
}
